<app-header></app-header>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
  <app-painel  (encerrarJogo)="encerrarJogo($event)"></app-painel>

</div>
<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="row">
    <div class="col derrota">
      <h3>Fim de jogo, você perdeu! =/</h3>
      <button (click)="reiniciarJogo()">Tentar novamente</button>
    </div>
  </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
  <div class="row">
    <div class="col vitoria">
      <h3>Parabéns! Você traduziu tudo com perfeição! =D</h3>
      <button (click)="reiniciarJogo()">Jogar novamente</button>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
